body {
    background-color: #7e787894;
    color: rgba(0, 0, 0, 0.963);
}

.navbar ul li {
    
    
    text-decoration: underline;
    color: rgb(185, 163, 37);
    margin: 0px 4px;
    padding: 2px 16px;
    font-size: 20px;

    
}

.navbar-brand {
    margin: 1px 0px;
    /* border:  1px solid whitesmoke; */
    /* border-radius: 10px; */
    padding:5px 10px ; 
    font-size: 35px;  

}